<div class="container">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">
      <h3>ショッピングカート</h3>
    </div>
    <div class="col-xs-3 col-xs-offset-3">
      <h3><%= link_to 'カートを空にする', cart_items_destroy_all_path, method: :delete, class:"btn btn-primary mg-auto", "data-confirm" => "本当に空にしますか？" %></h3>
    </div>
  </div>

  <div class="row mt-30">
    <div class="col-xs-10 col-xs-offset-1">
      <table class="table table-striped">
      	<thead>
      		<tr>
      			<th>商品名</th>
      			<th>単価(税込)</th>
      			<th>数量</th>
      			<th>小計</th>
      			<th></th>
      		</tr>
      	</thead>
      	<tbody>
      	  <% sum = 0 %>
      	  <% @cart_items.each do |cart_item| %>
        		<tr>
        			<td><%= cart_item.item.name %></td>
        			<td><%= ((cart_item.item.price * 1.1).round(0)).to_s(:delimited) %></td>
        			<td>
        			  <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true do |f| %>
        			    <%= f.select :amount, [[1], [2], [3], [4], [5]] %>
        			    <%= f.submit '変更', class:"btn btn-primary" %>
        			  <% end %>
        			</td>
        			<td><%= ((cart_item.item.price * 1.1).round(0) * cart_item.amount).to_s(:delimited) %></td>
        			<td><%= link_to '削除する', cart_item_path(cart_item), method: :delete, class:"btn btn-primary mg-auto" %></td>
        		</tr>
        	<% sum += (cart_item.item.price * 1.1).round(0) * cart_item.amount %>
      		<% end %>
      	</tbody>
      </table>
    </div>
  </div>
  <div class="row mt-30">
    <div class="col-xs-3 col-xs-offset-1">
      <%= link_to '買い物を続ける', items_path, class:"btn btn-primary" %>
    </div>
    <div class="col-xs-3 col-xs-offset-4">
      <table class="table table-striped">
        <tr>
          <td>合計金額</td>
          <td><%= sum.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-5">
      <%= link_to '情報入力へ進む', new_order_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
