<div class="container">
  <% if @orders.present? %>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">
      <h3>注文商品一覧</h3>
    </div>
  </div>
  <div class="row mt-30">
    <div class="col-xs-10 col-xs-offset-1">
      <table class="table table-striped table-bordered">
      	<thead>
      		<tr>
      			<th>注文日</th>
      			<th>配送先</th>
      			<th>注文商品</th>
      			<th>支払い金額</th>
      			<th>ステータス</th>
      			<th>注文情報詳細</th>
      		</tr>
      	</thead>
      	<tbody>
      	  <% @orders.each do |order| %>
        		<tr>
        			<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        			<td>
        			  <p><%= order.postal_code %></p>
        			  <p><%= order.address %></p>
        			  <p><%= order.name %></p>
        			</td>
        			<td>
        			  <% order.order_details.each do |order_detail| %>
        			    <p><%= order_detail.item.name %></p>
        			  <% end %>
        			</td>
        			<td><%= order.total_payment %></td>
        			<td><%= order.status_i18n %></td>
        			<td><%= link_to '表示する', order_path(order), class:"btn btn-primary mg-auto" %></td>
        		</tr>
      		<% end %>
      	</tbody>
      </table>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">
      <h3>ショッピングカート</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-4">
      <h1><%= link_to '食べたい商品をカートに入れてください。', items_path, class:"btn btn-primary" %></h1>
    </div>
  </div>
  <% end %>
</div>
