<div class="container">
  <div class="row">
    <div class="col-xs-9 col-xs-offset-3">
      <h1>注文情報入力</h1>

      <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
      <h3>支払い方法</h3>
      <div><%= f.radio_button :payment_method, :credit_card, checked: "checked" %>  クレジットカード</div>
      <div><%= f.radio_button :payment_method, :bank_transfer %>  銀行振込</div>
      <h3>お届け先</h3>
      <div>
        <h4><%= radio_button_tag :flag, "a", checked: "checked" %> ご自身の住所</h4>
        <div>
          <%= current_customer.postal_code %><%= current_customer.address %></br>
          <%= current_customer.full_name %>
        </div>
        <% if @address.present? %>
        <div>
          <h4><%= radio_button_tag :flag, "b" %> 登録済住所から選択</h4>
            <%= f.collection_select :full_address, @address, :id, :full_address %>
        </div>
        <% end %>
        <div>
          <h4><%= radio_button_tag :flag, "c" %> 新しいお届け先</h4>
          <p>郵便番号(ハイフンなし)</p>
          <%= f.text_field :postal_code, class:"form-control" %>
          <p>住所</p>
          <%= f.text_field :address, class:"form-control" %>
          <p>宛名</p>
          <%= f.text_field :name, class:"form-control" %>
        </div>
      </div>
      <div class="mt-30">
        <%= f.submit '確認画面に進む', class:"btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
